@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
@import "function";

*,*:after,*:before{
  box-sizing: border-box;
}

//html{
//  box-sizing: inherit;
//  background: linear-gradient(to left, #8e9eab , #eef2f3);
//}
//body{
//  margin: 10% auto;
//  text-align: center;
//  font-size: 12px;
//}


.select{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  //margin: 0 auto;
  width: 100%;
  max-width: 170px;
  color: #cccccc;
  vertical-align: middle;
  text-align: left;
  user-select: none;
  -webkit-touch-callout: none;

  .placeholder{
    position: relative;
    display: block;
    background-color: #393d41;
    z-index: 1;
    color:#989898;
    padding: 0.99em;
    cursor: pointer;
    border: 1px solid #e7e7e7;
    font-size: calculateRem(13px);
    font-weight: 100;
    font-family: 'Montserrat',sans-serif;
    &:hover{
      background: darken(#393d41,2%);
    }

    &:after{
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'FontAwesome';
      content: '\f078';
      z-index: 10;
      font-weight: 100;
      font-size: calculateRem(13px);
    }
  }

  &.is-open{
    .placeholder:after{
      content: '\f077';
    }
    ul{
      display: block;
    }
  }

  &.select--white{
    .placeholder{
      background: #fff;
      color: #999;
      &:hover{
        background: darken(#fff,2%);
      }
    }
  }

  ul{
    display: none;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
    max-height: 120px;

    li{
      display: block;
      text-align: left;
      padding: 0.8em 1em 0.8em 1em;
      color: #999;
      cursor: pointer;

      &:hover{
        background: #4ebbf0;
        color: #fff;
      }
    }
  }
}



.button-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 81px;
  max-width: 100px;
}

.qty-container{
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.qty{
  width: 100%;
  text-align: center;
  border:1px solid #e7e7e7;
  color: #989898;
  outline: none;
  max-width: 150px;
}

.cart-qty-plus,.cart-qty-minus{
  border:1px solid #e7e7e7;
  color:#989898;
  outline: none !important;
  background: transparent;
  max-width: 50px;
}


.cart-qty-plus{
  border-bottom: none;
}